* {
    margin-left: 3%;
    margin-right: 3%;
}

/* main h2 {
    position: absolute;
} */

main {
    margin-top: 5%;
}

header a { 
    text-decoration: none;
    color:rgb(90, 86, 86);
}

header a:hover { 
    text-decoration: underline;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

footer {
    position: absolute;
    left: 5%;
    bottom: 0;
    width: 100%;
    height: 80px;
}

.headerLi {
    
    width: 80%;
    /* margin-bottom: 3%; */
    background-color: rgb(219, 219, 219);
    display: flex;
    flex-direction: row;
    
    text-align: center;
    /* margin-left: 1%;
    margin-right: 1%; */
    /* justify-content: space-between; */
    /* flex-direction: row; */
    /* padding: 5px 0; */
    outline-color: red;
    position: fixed;
    top: 0;
    /* margin-bottom: 500px; */
}

/* h1 {
    margin-top: 50px;
} */

.headerLi a {
    width: 50%;
    display: flex;
    justify-content: space-around;
    font-size: 110%;
}

.headerLi a:active {
    color:rgb(46, 84, 155);
    background-color: #3f37b4;
}

.btn {
    font-size: small;
}

.active, .btn:hover {
    background-color: rgb(102, 102, 102);
    color: white;
}

.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #e0e0e0;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
  }
  
  .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  
  .preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
  }
  
  .preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes preloader-bounce {
  
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }

  .loading {
    display: flex;
    align-items: center;
    justify-content: center
  }