body {
    font-family: 'Times New Roman', Times, serif;
}

.casetext {
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.caseimg {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

.imgfromleft {
    display: inline-block;
    border-radius: 50%;
    vertical-align: auto;
}

.textfromleft {
    display: inline-block;
    vertical-align:auto;
}
